<!DOCTYPE = html>
    <head>
        <title>
            Pass Timetable
        </title>
    </head>

    <body>
        <form action="/action_page.php">
            Program: <input type="text" name="prog"><br>
            <input type="submit" value="Submit">
        </form> 
       
        <select name="year">
            <option value="1">Year 1</option>
            <option value="2">Year 2</option>
            <option value="3">Year 3</option>
            <option value="4">Year 4</option>
        </select>
        
        <select name="sem">
            <option value="1">Semester 1</option>
            <option value="2">Semester 2</option>
        </select>
    
        <p>
            Test 2
        </p>
    </body>
</html>
